* {
    font-family: 'Pretendard', sans-serif;
  }
  
  button {
    cursor: pointer;
    all: unset;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .nav-buttons {
    display: flex;
    align-items: center;
    gap: 56px;
  }
  
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    position: fixed;
    top: 0;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
    font-family: 'Pretendard', sans-serif;
  }
  
  .nav-container {
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  
  .nav-img {
    display: flex;
    justify-content: flex-start;
  }
  
  .nav-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
  }
  
  .nav-topics {
    display: flex;
    gap: 40px;
  }
  
  a:link {
    color: #f9f8f4;
  }
  
  a:visited:not(.primary-button) {
    color: #f9f8f4;
  }
  
  a:hover {
    color: #f9f8f4;
  }
  
  a:active {
    color: #f9f8f4
  }
  
  .primary-button {
    display: inline-block;
    background-color: #f9f8f4;
    border-radius: 2px;
    /* 너비와 높이가 같으므로 50%로 설정하면 동그라미 모양이 됩니다 */
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #1e1e1e;
    padding: 10px 25px;
  }
  
  .primary-button:hover {
    background-color: #696969;
    transition: transform 0.8s, background-color 0.3s;
    color: #ffffff;
  }
  
  .logout-button:hover {
    color: rgb(255, 162, 162);
    transition: transform 0.8s, color 0.3s;
  }
  
  .footer {
    display: flex;
    background-color: #E7E3DA;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 100px;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .footer p {
    margin-right: 10px;
    margin-bottom: 5px;
  }